# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
myenv/
ENV/

# Data & Persistence
data/
*.db
*.sqlite

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

openrouter-proxy